@model Sheep
@{
    ViewData["Title"] = "Edit";
}

<form asp-controller="Home" asp-action="Edit" onsubmit="ajaxHelper.onSubmit(this, event)">
    <div class="form-horizontal">
        <div class="panel-body">

            <div class="form-group">
                <label asp-for="Id" class="control-label col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="Id" type="text" class="form-control" />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Name" class="control-label col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="Name" type="text" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Cost" class="control-label col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="Cost" type="text" class="form-control" required />
                    <span asp-validation-for="Cost" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Shepards" class="control-label col-md-2"></label>
                <div class="col-md-10">
                    <div id="modalupdate">
                        <partial name="_ListShepard" model="Model.Shepards" />
                    </div>
                    @Html.AjaxModal("New Shepard", Url.Action("Create", "Shepard", new { id = Model.Id }), updateId: "#modalupdate", htmlAttributes: new { @class = "btn btn-primary", type = "button" })
                    @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal" data-ajax-method="GET" data-url="@Url.Action(" Create", "Shepard" , new { id=Model.Id})">
                            Add Shepard
                        </button>*@
                </div>
            </div>

        </div>
        <div class="panel-footer">
            <div asp-validation-summary="All" class="" text-danger"></div>
            <input type="submit" value="Save Sheep" class="btn btn-success pull-right" />
        </div>
    </div>
</form>

