@model Policeman
@{
    Layout = null;
}

<form asp-controller="Policemen" asp-action="Modify" asp-route-id="@ViewBag.ShepardId" onsubmit="ajaxHelper.onSubmit(this, event)">
    <div class="form-horizontal">
        <div class="panel-body">

            <div class="form-group">
                <label asp-for="Name" class="control-label col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="Name" type="text" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            
        </div>
        <div class="panel-footer">
            <div asp-validation-summary="All" class="" text-danger"></div>
            <input type="submit" value="Save Policeman" class="btn btn-success pull-right" />
        </div>
    </div>
</form>

